.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links__title{
  font-size: xx-large;
  font-weight: bold;
}

.links__conatiner{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 300px;
}