.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.about__title{
  font-size: xx-large;
  font-weight: bold;
}

.about__details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  min-width: 300px;
  width: 80%;
}

.about__detail{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    border-radius: 8px;
}

.about__details_header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: rgb(39, 65, 77);
}